
    <!--navbar-->
    <nav class="navbar navbar-light fixed-top bg- light">
        <a class="color-black" routerLink="/user/{{uid}}/website/{{wid}}/page"><i class="fas fa-chevron-left"></i></a> 
        <a class="navbar-brand" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/Widgets">Widgets</a>
       <a class="color-black"routerlink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new"><i class="fas fa-plus"></i></a> 
            </nav>

    <!--main content-->
    <div class="container-fluid">
        <!-- Widget-->
        <div *ngFor= "let widget of widgets">
            <!--Icon-->
            <div class="absolute right">
                <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget._id}}"><i class="fas fa-cog "></i></a>
                <a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"><i class="fas fa-bars"></i></a>
                <div [ngSwithc="widget.size"]>

                </div>
                       <!--Content-->
            <div [ngSwitch]="widget.widgetType">
                <div *ngSwichCase="'HEADING'">
                    <div [ngSwitch]="widget.size">
                        <div *ngSwitchcase="1">
                           <h1>{{widget.text}}</h1>
                        </div>
                        <div *ngSwitchcase="2">
                           <h2>{{widget.text}}</h2>
                        </div>
                          <div *ngSwitchcase="2">
                             <h2>{{widget.text}}</h2>
                         </div>
                             <div *ngSwitchcase="3">
                              <h3>{{widget.text}}</h3>
                         </div>   
                            <div *ngSwitchcase="4">
                             <h4>{{widget.text}}</h4>
                         </div>    
                              <div *ngSwitchcase="5">
                               <h5>{{widget.text}}</h5>
                          </div> 
                             <div 
                              ngSwitchcase="6">
                               <h6>{{widget.text}}</h6>
                          </div>              
                    </div>
                </div>
                <div *ngSwitchCase="'IMAGE'">
                    <img [src]="widget.url" [style.width]="widget.width" />

                   </div> 
                 </div>          
                </div>
              </div> 
                
              
 
              
    <!--footer-->
    

    
