<!-- navbar-->
<nav class="navbar navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" routerLink="/user/:uid"><b>Profile</b></a>  
    <a class="color-white" routerLink="/user/:uid"><i class="fas fa-check"></i></a>
</nav>
<br>
    <!--form -->
    <div class="container">

        <form>
     <!--username-->   
 <div class="form-group">
    <label><b>Username</b></label>
    <input class="form-control">
</div>
<!--email-->
<div class="form-group">
    <label><b>Email</b></label>
    <input class="form-control">
</div>
<!--First Name-->
<div class="form-group"><label><b>First Name</b></label>
    <input class="form-control">
</div>
<!--last name-->
<div class="form-group"><label><b>Last Name</b></label>
<input class="form-control">
</div>
<!--Buttons-->
<a routerLink="/user/:uid/website"
 class="btn btn-primary btn-block">Websites</a>
<a routerlink="/login" class="btn btn-danger
 btn-block">Logout</a>
</form>
</div>

<!--footer-->
<footer class="navbar navbar-dark fixed-bottom
bg-primary">
<div class="full-width">
  <a class="color-black float-right"
  routerLink="/user/:uid"><i class="fas fa-user"> </i></a>
  </div>

</footer>