<div class= "container ">
    <h1>Register</h1>
    <form (ngSubmit)="register()" #myForm="ngForm">
            <div *ngIf="userError" class="alert alert-danger"> this Username is taken, please try another one</div>
            <div *ngIf="passwordError" class="alert alert-danger"> two password are not matched></div>
        <div class="form-group">
            <input [(ngModel)]="username" name="username" required class="form-control" type="text" placeholder="username" #userInput="ngModel">
        </div>
        <div *ngIf="userInput.invalid && userInput.touched" class="alert alert-warning">Username cannot be empty</div>
        <div class="form-group">
            <input class="form-control" required name="password" [(ngModel)]="password" #passwordInput="ngModel" type="password" placeholder="password">
        </div>
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="alert alert-warning">Please Enter Your Password</div>
            <div class="form-group">
                <input class="form-control" required name="verifyPassword" [(ngModel)]="verifyPassword" type="password" 
                placeholder="verify password" #verifyPasswordInput="ngModel">
            </div>
        <div *ngIf="verifyPasswordInput.invalid && verifyPasswordInput.touched" class="alert alert-warning">Please Enter your Password Again</div>             
        <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary btn-block">Register</button>
        <a routerLink="/login" class="btn btn-success btn-block">Cancel</a>
    </form>
</div>